/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  text-align: center;
}

/* Input Forms*/
input[type="text"], input[type="password"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid rgb(8, 58, 4);
  margin: 20px auto;
}

input[type="submit"] {
  padding: 10px;
  color: rgb(116, 170, 30);
  background: #033006;
  width: 320px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #66c748;
}

/* Header */
header {
  border-bottom: 2px solid #2c661b;
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
header a {
  text-decoration: none;
  color: rgb(67, 190, 104);
}

